<div class="container px-5 px-sm-0">
    <div class="row">

        <%= render 'books/user', user_info: @user_info %>

        <div class="col-md-8 offset-md-1">
            <h2>Users</h2>
        </div>
    </div>
</div>